<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture</title>
    <link rel="stylesheet" href="../styles/dash.css">
    <script src="index.js"></script>
</head>

<body>
    <nav>
        <ul class="navbar-links">
            <li>Home</li>
            <li>Shop</li>
            <li>Magazine</li>
            <span class="right-alligned-items">
                <input type="text">
                <li>Login</li>
            </span>
        </ul>
    </nav>
    <div id="loader"></div>

    <section class="root-container">
        <div class="product-container" id="product-container">
            <div></div>
            <div class="filter col-s-6 col-3" id="filter">
                <div class="filter-label">
                    Filter By
                </div>
                <div class="filter-container">
                    <div>
                        <select name="colletion" id="colletion">
                            <option>Collection</option>
                        </select>
                    </div>
                    <div>
                        <select name="Color" id="color">
                            <option>Color</option>
                        </select>
                    </div>
                    <div>
                        <select name="Category" id="category">
                            <option>Category</option>
                        </select>
                    </div>
                    <div>
                        <label>Price Range</label>
                        <input type="range" min="10" max="2000" value="50" >
                    </div>
                </div>
            </div>
        </div>
        <div class="product-details-container" id="product-details-container">
        </div>
    </section>
</body>

</html>